<h3>About Component</h3>
<p>This is the about component!</p>



<a target="_blank" href="https://github.com/angular/angular2-seed">Seed Project</a>


<div class = "alert alert-success">Success! Well done its submitted.</div>

<div class="featurette" id="about">
            <!------------------------code---------------start---------------->
            <div class="container">
                <div class="row ">
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="db-wrapper">
                            <div class="db-pricing-seven">
                                <ul>
                                    <li class="price">
                                        <i class="glyphicon glyphicon-qrcode"></i> BASIC - 29 $
                                    </li>

                                    <li>Web Designing</li>
                                    <li>Web Designing</li>
                                    <li>Logo Assesment</li>
                                    <li>Digital Marketing</li>
                                </ul>
                                <div class="pricing-footer">
                                    <a href="#" class="btn btn-default btn-lg">BUY <i class="glyphicon glyphicon-play-circle"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="db-wrapper">
                            <div class="db-pricing-seven">
                                <ul>
                                    <li class="price">
                                        <i class="glyphicon glyphicon-indent-right"></i> MEDIUM - 49 $
                                    </li>

                                    <li>Web Designing</li>
                                    <li>Logo Assesment</li>
                                    <li>Web Designing</li>
                                    <li>Logo Assesment</li>
                                    <li>Digital Marketing</li>
                                </ul>
                                <div class="pricing-footer">

                                    <a href="#" class="btn btn-default btn-lg">BUY<i class="glyphicon glyphicon-play-circle"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="db-wrapper">
                            <div class="db-pricing-seven">
                                <ul>
                                    <li class="price">
                                        <i class="glyphicon glyphicon-list-alt"></i> ULTIMATE - 99 $
                                    </li>

                                    <li>Web Designing</li>
                                    <li>Logo Assesment</li>
                                    <li>Digital Marketing</li>
                                    <li>Web Designing</li>
                                    <li>Logo Assesment</li>
                                    <li>Digital Marketing</li>
                                </ul>
                                <div class="pricing-footer">

                                    <a href="#" class="btn btn-default btn-lg">BUY <i class="glyphicon glyphicon-play-circle"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="db-wrapper">
                            <div class="db-pricing-seven">
                                <ul>
                                    <li class="price">
                                        <i class="glyphicon glyphicon-align-justify"></i> EXTENDED - 199 $
                                    </li>

                                    <li>Web Designing</li>
                                    <li>Logo Assesment</li>
                                    <li>Digital Marketing</li>
                                    <li>Web Designing</li>
                                    <li>Logo Assesment</li>
                                    <li>Digital Marketing</li>
                                </ul>
                                <div class="pricing-footer">

                                    <a href="#" class="btn btn-default btn-lg">BUY <i class="glyphicon glyphicon-play-circle"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>